In [ ]:
## pattern 1

In [1]:
n=int(input("Enter number:"))
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(j,end=" ")
        j=j+1
    i=i+1
    print()

Enter number:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
## pattern 2

In [2]:
n=int(input("Enter number:"))
a=64
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(chr(a+j),end=" ")
        j=j+1
    i=i+1
    print()

Enter number:6
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [ ]:
## pattern 3

In [3]:
n=int(input("Enter number:"))
i=1
while(i<=n):
    j=1
    while(j<=i):
        print("*",end=" ")
        j=j+1
    i=i+1
    print()

Enter number:6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
## pattern 4

In [4]:
n=int(input("Enter number:"))
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(i,end=" ")
        j=j+1
    i=i+1
    print()

Enter number:6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [ ]:
## pattern 5

In [1]:
n=int(input("Enter number:"))
a=64
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(chr(a+i),end=" ")
        j=j+1
    i=i+1
    print()

Enter number:6
A
B B
C C C
D D D D
E E E E E
F F F F F F

In [ ]:
## pattern 6

In [6]:
n=int(input("Enter number:"))
i=1
while(i<=n):
    print(("* "*i).rjust(12))
    i=i+1

Enter number:5
          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
## pattern 7

In [7]:
n=int(input("Enter number:"))
i=1
while(i<=n):
    print(" "*(n-i),end="")
    j=1
    while(j<=i):
        print(j,end=" ")
        j=j+1
    i=i+1
    print()

Enter number:6
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

In [ ]:
## pattern 8

In [9]:
n=int(input("Enter no of rows:"))
i=1
while(i<=n):
    print(" "*(n-i),end=" ")
    j=(n+1)-i
    while(j<=n):
        print(j,end=" ")
        j=j+1
    i=i+1
    print()

Enter no of rows:5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

In [ ]:
## pattern 9

In [24]:
n=int(input("Enter no of rows:"))
a=64
i=1
while(i<=n):
    print(" "*(n-i),end=" ")
    j=1
    while(j<=i):
        print(chr(a+j),end=" ")
        j=j+1
    i=i+1
    print()

Enter no of rows:6
      A
     A B
    A B C
   A B C D
  A B C D E
 A B C D E F

In [ ]:
## pattern 10

In [10]:
n=int(input("Enter no of rows:"))
a=65
i=1
while(i<=n):
    print(" "*(n-i),end=" ")
    j=n-i
    while(j<n):
        print(chr(a+j),end=" ")
        j=j+1
    i=i+1
    print()

Enter no of rows:5
     E
    D E
   C D E
  B C D E
 A B C D E

In [ ]:
## pattern 11

In [11]:
n=int(input("Enter number:"))
i=1
a=1
while(i<=n):
    print(("*"*(a)).center(12))
    a=a+2
    i=i+1

Enter number:5
     *
    ***
   *****
  *******
 *********

In [ ]:
## pattern 12

In [26]:
n=int(input("Enter no of rows:"))
i=1
while(i<=n):
    print(" "*(n-i),end=" ")
    j=1
    while(j<=i):
        print(i,end=" ")
        j=j+1
    i=i+1
    print()

Enter no of rows:6
      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5
 6 6 6 6 6 6

In [ ]:
## pattern 13

In [28]:
n=int(input("Enter no of rows:"))
a=64
i=1
while(i<=n):
    print(" "*(n-i),end=" ")
    j=1
    while(j<=i):
        print(chr(a+i),end=" ")
        j=j+1
    i=i+1
    print()

Enter no of rows:6
      A
     B B
    C C C
   D D D D
  E E E E E
 F F F F F F

In [ ]:
## pattern 14

In [12]:
n=int(input("Enter number:"))
i=n
while i>=1 and i<=n:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    i=i-1
    print()

Enter number:6
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
## pattern 15

In [13]:
n=int(input("Enter number:"))
i=n
while i>=1 and i<=n:
    j=1
    a=n
    while j<=i:
        print(a,end=" ")
        a=a-1
        j=j+1
    i=i-1
    print()

Enter number:6
6 5 4 3 2 1
6 5 4 3 2
6 5 4 3
6 5 4
6 5
6

In [ ]:
## pattern 16

In [31]:
n=int(input("Enter no of rows:"))
i=1
while(i<=n):
    j=n
    while(j>n-i):
        print(j,end=" ")
        j=j-1
    i=i+1
    print()

Enter no of rows:5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
## pattern 17

In [34]:
n=int(input("Enter no of rows:"))
a=1
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(a,end=" ")
        a=a+1
        j=j+1
    i=i+1
    print()

Enter no of rows:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
## pattern 18

In [2]:
n=int(input("Enter no of rows:"))
a=64
i=n
while(i>0):
    j=1
    while(j<=i):
        print(chr(a+j),end=" ")
        j=j+1
    i=i-1
    print()

Enter no of rows:6
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [ ]:
## pattern 19

In [3]:
n=int(input("Enter no of rows:"))
i=n
while(i>0):
    print("*"*i)
    i=i-1

Enter no of rows:6
******
*****
****
***
**
*

In [ ]:
## pattern 20

In [1]:
n=int(input("Enter no of rows:"))
i=n
while(i>0):
    print(" "*(n-i)+"*"*i)
    i=i-1

Enter no of rows:6
******
 *****
  ****
   ***
    **
     *

In [ ]:
## pattern 21

In [13]:
i=1
while(i<6):
    print("*"*i)
    i=i+1
j=5
while(j>0):
    print("*"*j)
    j=j-1

*
**
***
****
*****
*****
****
***
**
*

In [ ]:
## pattern 22

In [10]:
j=6
while(j>0):
    print("*"*j)
    j=j-1
i=2
while(i<7):
    print("*"*i)
    i=i+1

******
*****
****
***
**
*
**
***
****
*****
******

In [ ]:
## pattern 23

In [16]:
i=1
while(i<6):
    print(" "*(6-i)+"*"*(i))
    i=i+1
j=6
while(j>0):
    print(" "*(6-j)+"*"*j)
    j=j-1

     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

In [ ]:
## pattern 24

In [18]:
i=6
while(i>0):
    print(" "*(6-i)+"*"*i)
    i=i-1
j=2
while(j<7):
    print(" "*(6-j)+"*"*(j))
    j=j+1

******
 *****
  ****
   ***
    **
     *
    **
   ***
  ****
 *****
******

In [ ]:
## pattern 25

In [23]:
i=9
while(i>0):
    m="*"*i
    print(m.center(10," "))
    i=i-2
j=3
while(j<10):
    m="*"*j
    print(m.center(10," "))
    j=j+2

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [ ]:
## pattern 26

In [26]:
i=1
while(i<=7):
    print("*"*(i)," "*((7-i)*2),"*"*(i),sep="")
    i=i+1

*            *
**          **
***        ***
****      ****
*****    *****
******  ******
**************

In [ ]:
## pattern 27

In [27]:
a=int(input("Enter no of rows: "))
i=0
while(i<a):
    print("*"*(a-i)," "*(i)*2,"*"*(a-i),sep="")
    i=i+1

Enter no of rows: 6
************
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
## pattern 28

In [28]:
n=int(input("Enter no of rows: "))
a=(n//2)
i=1
while(i<a):
    print("*"*(i)," "*((a-i)*2),"*"*(i),sep="")
    i=i+1
j=0    
while(j<a):
    print("*"*(a-j)," "*(j)*2,"*"*(a-j),sep="")
    j=j+1

Enter no of rows: 12
*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
## pattern 29

In [17]:
n=int(input("Enter no of rows: "))
a=(n//2)
print("*"*n)
i=1
while(i<a):
    print("*"*(a-i)," "*(i*2),"*"*(a-i),sep="")
    i=i+1
i=2
while(i<a):
    print("*"*(i)," "*((a-i)*2),"*"*(i),sep="")
    i=i+1
print("*"*n)

Enter no of rows: 12
************
*****  *****
****    ****
***      ***
**        **
*          *
**        **
***      ***
****    ****
*****  *****
************

In [ ]:
## pattern 30

In [2]:
n=int(input("Enter no of rows:"))
print("*")
i=2
while(i<n):
    j=1
    while(j<=2):
        print("*",end="")
        print(" "*(i-2),end="")
        j=j+1
    i=i+1
    print()
print("*"*n)

Enter no of rows:6
*
**
* *
*  *
*   *
******

In [ ]:
## pattern 31

In [28]:
n=int(input("Enter no of rows:"))
print("*"*n)
a=" "
i=n-1
while(i>1):
    a="*"+" "*(i-2)+"*"
    print(a)
    i=i-1
print("*")

Enter no of rows:6
******
*   *
*  *
* *
**
*

In [ ]:
## pattern 32

In [21]:
n=int(input("Enter no of rows:"))
print("*".rjust(n))
a=" "
i=2
while(i<n):
    a="*"+" "*(i-2)+"*"
    print(a.rjust(n))
    i=i+1
print("*"*n)

Enter no of rows:6
     *
    **
   * *
  *  *
 *   *
******

In [ ]:
## pattern 33

In [47]:
a=int(input("Enter no of rows:"))
n=a//2
print("*"*n)
i=n-1
while(i>1):
    j=0
    while(j<2):
        print("*",end="")
        print(" "*(i-2),end="")
        j=j+1
    i=i-1
    print()
print("*")
i=2
while(i<n):
    j=0
    while(j<2):
        print("*",end="")
        print(" "*(i-2),end="")
        j=j+1
    i=i+1
    print()
print("*"*n)

Enter no of rows:12
******
*   *
*  *
* *
**
*
**
* *
*  *
*   *
******

In [ ]:
## pattern 34

In [45]:
a=int(input("Enter no of rows:"))
n=a//2
print("*".center(n*2))
a=" "
i=2
while(i<n):
    b="*"+" "*(i-2)+"*"
    print(b.rjust(n))
    i=i+1
j=n
while(j>1):
    b="*"+" "*(j-2)+"*"
    print(b.rjust(n))
    j=j-1
print("*".center(n*2))

Enter no of rows:12
     *
    **
   * *
  *  *
 *   *
*    *
 *   *
  *  *
   * *
    **
     *

In [ ]:
## pattern 35

In [16]:
a=int(input("Enter no of rows:"))
n=a//2
print(("*"*n).rjust(n))
a=" "
i=(n-1)
while(i>1):
    a="*"+" "*(i-2)+"*"
    print(a.rjust(n))
    i=i-1
print("*".rjust(n))
a=" "
j=2
while(j<n):
    a="*"+" "*(j-2)+"*"
    print(a.rjust(n))
    j=j+1
print("*"*n)

Enter no of rows:12
******
 *   *
  *  *
   * *
    **
     *
    **
   * *
  *  *
 *   *
******

In [ ]:
## pattern 36

In [13]:
print("*".center(10))
n=7
a=1
i=1
while(i<n+1):
    n=n-2
    print(" "*(4-i),"*"," "*a,"*",sep="")
    a=a+2
    i=i+1
print("*"*9)

    *
   * *
  *   *
 *     *
*********

In [ ]:
## pattern 37

In [9]:
print("*"*9)
n=7
i=1
while(i<=n):
    n=n-2
    print(" "*(i),"*"," "*n,"*",sep="")
    i=i+1
print("*".center(10))

*********
 *     *
  *   *
   * *
    *

In [ ]:
## pattern 38

In [18]:
n=int(input("enter no of rows:"))
print("*".center((n*2)+2))
i=1
a=1
while i<n-1:
    if i<(n//2):
        print(" "*(n-i),"*"," "*a,"*",sep="")
        a=a+2
        i=i+1
    else:
        print(" "*(i+1),"*"," "*a,"*",sep="")
        i=i+1
        a=a-2
print("*".center((n*2)+2))

enter no of rows:9
         *
        * *
       *   *
      *     *
     *       *
      *     *
       *   *
        * *
         *

In [ ]:
## pattern 39

In [20]:
n=int(input("enter no of rows:"))
print("*"*n)
i=2
a=1
while i<n:
    if i<(n//2)+1:
        print(" "*(i-1),"*"," "*(n-(i*2)),"*",sep="")
        i=i+1
    elif i==(n//2)+1:
        print("*".center(n))
        i=i+1
    else:
        print(" "*(n-i),"*"," "*a,"*",sep="")
        a=a+2
        i=i+1
print("*"*n)

enter no of rows:9
*********
 *     *
  *   *
   * *
    *
   * *
  *   *
 *     *
*********

In [ ]:
## pattern 40

In [21]:
n=6
i=1
while i<=n:
    print("*"*5)
    i=i+1

*****
*****
*****
*****
*****
*****