In [ ]:
## pattern 1

In [1]:
n=int(input("Enter no of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter no of rows:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
## pattern 2

In [2]:
n=int(input("Enter no of rows:"))
a=64
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(a+j),end=" ")
    print()

Enter no of rows:6
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [ ]:
## pattern 3

In [3]:
n=int(input("Enter no of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter no of rows:6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
## pattern 4

In [4]:
n=int(input("Enter no of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter no of rows:6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [ ]:
## pattern 5

In [5]:
n=int(input("Enter no of rows:"))
a=64
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(a+i),end=" ")
    print()

Enter no of rows:6
A
B B
C C C
D D D D
E E E E E
F F F F F F

In [ ]:
## pattern 6

In [6]:
n=int(input("Enter no of rows:"))
for i in range(1,n+1):
    print(" "*(n-i)*2,end=" ")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter no of rows:5
         *
       * *
     * * *
   * * * *
 * * * * *

In [ ]:
## pattern 7

In [7]:
n=int(input("Enter no of rows:"))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter no of rows:6
      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5
 1 2 3 4 5 6

In [ ]:
## pattern 8

In [9]:
n=int(input("Enter no of rows:"))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range((n-i)+1,n+1):
        print(j,end=" ")
    print()

Enter no of rows:5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

In [ ]:
## pattern 9

In [10]:
n=int(input("Enter no of rows:"))
a=64
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(chr(a+j),end=" ")
    print()

Enter no of rows:6
      A
     A B
    A B C
   A B C D
  A B C D E
 A B C D E F

In [ ]:
## pattern 10

In [11]:
n=int(input("Enter no of rows:"))
a=65
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range((n-i),n):
        print(chr(a+j),end=" ")
    print()

Enter no of rows:5
     E
    D E
   C D E
  B C D E
 A B C D E

In [ ]:
## pattern 11

In [12]:
n=int(input("Enter number:"))
i=1
a=1
for i in range(1,n+1):
    print(("*"*(a)).center(12))
    a=a+2

Enter number:5
     *
    ***
   *****
  *******
 *********

In [ ]:
## pattern 12

In [13]:
n=int(input("Enter no of rows:"))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter no of rows:6
      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5
 6 6 6 6 6 6

In [ ]:
## pattern 13

In [14]:
n=int(input("Enter no of rows:"))
a=64
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(chr(a+i),end=" ")
    print()

Enter no of rows:6
      A
     B B
    C C C
   D D D D
  E E E E E
 F F F F F F

In [ ]:
## pattern 14

In [16]:
n=int(input("Enter no of rows:"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter no of rows:6
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
## pattern 15

In [17]:
n=int(input("Enter no of rows:"))
for i in range(n,0,-1):
    for j in range(n,n-i,-1):
        print(j,end=" ")
    print()

Enter no of rows:5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
## pattern 16

In [18]:
n=int(input("Enter no of rows:"))
for i in range(1,n+1):
    for j in range(n,n-i,-1):
        print(j,end=" ")
    print()

Enter no of rows:5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
## pattern 17

In [19]:
n=int(input("Enter no of rows:"))
a=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(a,end=" ")
        a=a+1
    print()

Enter no of rows:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
## pattern 18

In [20]:
n=int(input("Enter no of rows:"))
a=64
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(chr(a+j),end=" ")
    print()

Enter no of rows:5
A B C D E
A B C D
A B C
A B
A

In [ ]:
## pattern 19

In [22]:
n=int(input("Enter no of rows:"))
for i in range(n,0,-1):
    print("*"*i)

Enter no of rows:6
******
*****
****
***
**
*

In [ ]:
## pattern 20

In [23]:
n=int(input("Enter no of rows:"))
for i in range(n,0,-1):
    print(" "*(n-i)+"*"*i)

Enter no of rows:6
******
 *****
  ****
   ***
    **
     *

In [ ]:
## pattern 21

In [24]:
for i in range(1,7):
    if(i<6):
        print(i*"*")
    if(i==6):
        for i in range(4,0,-1):
            print("*"*i)

*
**
***
****
*****
****
***
**
*

In [ ]:
## pattern 22

In [25]:
for i in range(6,0,-1):
    print("*"*i)
for i in range(2,7):
    print("*"*i)

******
*****
****
***
**
*
**
***
****
*****
******

In [ ]:
## pattern 23

In [26]:
for i in range(1,6):
    print(" "*(6-i)+"*"*(i))
for i in range(6,0,-1):
    print(" "*(6-i)+"*"*i)

     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

In [ ]:
## pattern 24

In [27]:
for i in range(6,0,-1):
    print(" "*(6-i)+"*"*i)
for i in range(2,7):
    print(" "*(6-i)+"*"*(i))

******
 *****
  ****
   ***
    **
     *
    **
   ***
  ****
 *****
******

In [ ]:
## pattern 25

In [28]:
for i in range(9,0,-2):
    m="*"*i
    print(m.center(10," "))
for i in range(3,10,2):
    m="*"*i
    print(m.center(10," "))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [ ]:
## pattern 26

In [29]:
a=6
for i in range(1,a+1):
    print("*"*(i)," "*((a-i)*2),"*"*(i),sep="")

*          *
**        **
***      ***
****    ****
*****  *****
************

In [ ]:
## pattern 27

In [30]:
a=int(input("Enter no of rows: "))
for i in range(0,a):
    print("*"*(a-i)," "*(i)*2,"*"*(a-i),sep="")

Enter no of rows: 6
************
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
## pattern 28

In [32]:
n=int(input("Enter no of rows: "))
a=(n//2)
for i in range(1,a):
    print("*"*(i)," "*((a-i)*2),"*"*(i),sep="")
for i in range(0,a):
    print("*"*(a-i)," "*(i)*2,"*"*(a-i),sep="")

Enter no of rows: 12
*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
## pattern 29

In [33]:
n=int(input("Enter no of rows: "))
a=(n//2)
print("*"*n)
for i in range(1,a):
    print("*"*(a-i)," "*(i*2),"*"*(a-i),sep="")
for i in range(2,a):
    print("*"*(i)," "*((a-i)*2),"*"*(i),sep="")
print("*"*n)

Enter no of rows: 12
************
*****  *****
****    ****
***      ***
**        **
*          *
**        **
***      ***
****    ****
*****  *****
************

In [ ]:
## pattern 30

In [34]:
n=int(input("Enter no of rows:"))
print("*")
for i in range(2,n):
    for j in range(2):
        print("*",end="")
        print(" "*(i-2),end="")
    print()
print("*"*n)

Enter no of rows:6
*
**
* *
*  *
*   *
******

In [ ]:
## pattern 31

In [35]:
n=int(input("Enter no of rows:"))
print("*"*n)
for i in range((n-1),1,-1):
    for j in range(2):
        print("*",end="")
        print(" "*(i-2),end="")
    print()
print("*")

Enter no of rows:6
******
*   *
*  *
* *
**
*

In [ ]:
## pattern 32

In [36]:
n=int(input("Enter no of rows:"))
print("*".rjust(n))
a=" "
for i in range(2,n):
    a="*"+" "*(i-2)+"*"
    print(a.rjust(n))
print("*"*n)

Enter no of rows:6
     *
    **
   * *
  *  *
 *   *
******

In [ ]:
## pattern 33

In [37]:
a=int(input("Enter no of rows:"))
n=a//2
print("*"*n)
for i in range((n-1),1,-1):
    for j in range(2):
        print("*",end="")
        print(" "*(i-2),end="")
    print()
print("*")
for i in range(2,n):
    for j in range(2):
        print("*",end="")
        print(" "*(i-2),end="")
    print()
print("*"*n)

Enter no of rows:12
******
*   *
*  *
* *
**
*
**
* *
*  *
*   *
******

In [ ]:
## pattern 34

In [2]:
a=int(input("Enter no of rows:"))
n=a//2
print("*".center(n*2))
a=" "
for i in range(2,n):
    b="*"+" "*(i-2)+"*"
    print(b.rjust(n))
for i in range((n),1,-1):
    b="*"+" "*(i-2)+"*"
    print(b.rjust(n))
print("*".center(n*2))

Enter no of rows:12
     *
    **
   * *
  *  *
 *   *
*    *
 *   *
  *  *
   * *
    **
     *

In [ ]:
## pattern 35

In [38]:
a=int(input("Enter no of rows:"))
n=a//2
print(("*"*n).rjust(n))
a=" "
for i in range((n-1),1,-1):
    a="*"+" "*(i-2)+"*"
    print(a.rjust(n))
print("*".rjust(n))
a=" "
for i in range(2,n):
    a="*"+" "*(i-2)+"*"
    print(a.rjust(n))
print("*"*n)

Enter no of rows:12
******
 *   *
  *  *
   * *
    **
     *
    **
   * *
  *  *
 *   *
******

In [ ]:
## pattern 36

In [1]:
print("*".center(10))
n=(9//2)
a=1
for i in range(1,n):
    print(" "*(n-i),"*"," "*a,"*",sep="")
    a=a+2
print("*"*9)

    *
   * *
  *   *
 *     *
*********

In [ ]:
## pattern 37

In [2]:
print("*"*9)
n=(9//2)+1
for i in range(1,n-1):
    print(" "*(i),"*"," "*n,"*",sep="")
    n=n-2
print("*".center(10))

*********
 *     *
  *   *
   * *
    *

In [ ]:
## pattern 38

In [41]:
n=int(input("enter no of rows:"))
print("*".center((n*2)+2))
i=1
a=1
for i in range(1,n-1):
    if i<(n//2):
        print(" "*(n-i),"*"," "*a,"*",sep="")
        a=a+2
    else:
        print(" "*(i+1),"*"," "*a,"*",sep="")
        a=a-2
print("*".center((n*2)+2))

enter no of rows:9
         *
        * *
       *   *
      *     *
     *       *
      *     *
       *   *
        * *
         *

In [ ]:
## pattern 39

In [42]:
n=int(input("enter no of rows:"))
print("*"*n)
i=2
a=1
for i in range(2,n):
    if i<(n//2)+1:
        print(" "*(i-1),"*"," "*(n-(i*2)),"*",sep="")
    elif i==(n//2)+1:
        print("*".center(9))
    else:
        print(" "*(n-i),"*"," "*a,"*",sep="")
        a=a+2
print("*"*n)

enter no of rows:9
*********
 *     *
  *   *
   * *
    *
   * *
  *   *
 *     *
*********

In [ ]:
## pattern 40

In [43]:
for i in range(6):
    print("*"*5)

*****
*****
*****
*****
*****
*****